.container-fluid.mom {
    width: 100%;
    min-width: 300px;
    height: 100vh;
}

.bg-darky {
    background-color: #202020 !important;
}

/* Début nav-haut */

.nav-haut .icons-top{
    justify-content: flex-end;
}

.navbar-haut .btn {
    border: none;
}

.nav-haut .icons{
    fill: white;
}

.container-fluid.nav-haut li {
    padding-right: 10px;
}

.nav-haut .dropdown-menu {
    left: -131px;
}

.navbar-haut .dropdown-item:hover{
    background-color:transparent;
}

.navbar-haut .search svg{
    fill: white;
}

.navbar-haut .form-inline:hover {
    background-color: red;
}

/* Fin nav-bas */

/* Début body */
.container-fluid.body .card-body {
    padding-top: 0px;
}

.container-fluid.body .card {
    border: none;
    border-radius: 0;
    background-color: #181818;

}
.container-fluid.body .card-img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.container-fluid.body .card .row .logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    max-width: 70px;
    max-height: 42px;
}

.container-fluid.body .card .row svg {
    width: 24px;
    fill: white;
}

.container-fluid.body .card .row .svg {
    text-align: right;
}

.container-fluid.body span {
    padding: 2.5px;
    color: #c5c5c5;
    font-size: 12px;
}

.container-fluid.body .row .row {
    padding-top: 5px;
    margin: 0px;
    height: 75px;
}

.container-fluid.body h6 {
    font-size: small;
    font-weight: 600;
    margin-bottom: 1px;
    color: white;
}

/* Fin body*/

/* Début nav-bas */

 .container-fluid.nav-bas {
    position: fixed;
    bottom: 0;
}

.container-fluid.nav-bas svg {
    width: 24px;
}

.container-fluid.nav-bas .navbar-nav {
    justify-content: space-around;
}

.container-fluid.nav-bas .nav-item {
    width: 100%;
}

.container-fluid.nav-bas .nav-link {
    margin: 10px 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid.nav-bas .nav-link:focus svg {
    fill: red;
}

.container-fluid.nav-bas .nav-link:focus .text-link {
    font-weight: 400;
    color: red;
}

.container-fluid.nav-bas .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid.nav-bas .text-link {
    font-weight: 400;
    padding: 0 4px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Fin nav-bas */