---
layout: base
---
{% for item in site.data.videos %}
{% if item.link == page.url %}
<div class="container-fluid p-0 body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="video-responsive">
                    <iframe width="836" height="470" src="{{ item.url }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video_info">
                    <p>{{ item.title }}</p>
                    <span class="nbvue">{{ item.vues }}</span>•<span class="date">{{ item.date }}</span>
                </div>
                <div class="description">
                {{ page.description | markdownify }}
                <div>
                    <p class="extrait">{{ ste }}</p>
                    <a href="" data-target="#test" data-toggle="collapse" aria-expanded="true" id="haut">PLUS</a>
                    <div id="test" class="collapse" aria-expanded="true">
                        {{ content }}
                    </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}