---
layout: base
---
<div class="container-fluid p-0 body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="video-responsive">
                    <iframe width="836" height="470" src="https://www.youtube.com/embed/tjRXxJaupoc" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video_info">
                    <p>{{ item.title }}</p>
                    <span class="nbvue">{{ item.vues }}</span>•<span class="date">{{ item.date }}</span>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>