.nav-haut {
    & .icons-top {
        justify-content: flex-end;
    }

    & img  {
        margin-right: 5px;
    }

    & .btn {
        border: none;
    }
    & .icons {
        width: 24px;
        height: 24px;
    }
    & li {
        padding-right: 10px;
    }
    & .dropdown-menu {
        left: -132px;
    }
    
    & .form-inline:hover {
        background-color: transparent;
    }

}